<div class="container pt-5 pt-5">
    <table>
        <thead>
            <tr>
                <th id="hor" class="conBorde">HORA</th>
                <th id="dia1" class="conBorde">LUNES&nbsp;</th>
                <th id="dia2" class="conBorde">MARTES&nbsp;</th>
                <th id="dia3" class="conBorde">MIÉRCOLES&nbsp;</th>
                <th id="dia4" class="conBorde">JUEVES&nbsp;</th>
                <th id="dia5" class="conBorde">VIERNES&nbsp;</th>
            </tr>
        </thead>

        <tbody>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_1" headers="hor" class="conBorde">&nbsp;08:30&nbsp;-&nbsp;09:00&nbsp;</th>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>


            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_2" headers="hor" class="conBorde">&nbsp;09:00&nbsp;-&nbsp;09:30&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_3" headers="hor" class="conBorde">&nbsp;09:30&nbsp;-&nbsp;10:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_4" headers="hor" class="conBorde">&nbsp;10:00&nbsp;-&nbsp;10:30&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_5" headers="hor" class="conBorde">&nbsp;10:30&nbsp;-&nbsp;11:00&nbsp;</th>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>

            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_7" headers="hor" class="conBorde">&nbsp;11:30&nbsp;-&nbsp;12:00&nbsp;</th>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>

            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_8" headers="hor" class="conBorde">&nbsp;12:00&nbsp;-&nbsp;12:30&nbsp;</th>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_9" headers="hor" class="conBorde">&nbsp;12:30&nbsp;-&nbsp;13:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_10" headers="hor" class="conBorde">&nbsp;13:00&nbsp;-&nbsp;13:30&nbsp;</th>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>

            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_11" headers="hor" class="conBorde">&nbsp;13:30&nbsp;-&nbsp;14:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_12" headers="hor" class="conBorde">&nbsp;14:00&nbsp;-&nbsp;14:30&nbsp;</th>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_13" headers="hor" class="conBorde">&nbsp;14:30&nbsp;-&nbsp;15:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_14" headers="hor" class="conBorde">&nbsp;15:00&nbsp;-&nbsp;15:30&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>

            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_15" headers="hor" class="conBorde">&nbsp;15:30&nbsp;-&nbsp;16:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_16" headers="hor" class="conBorde">&nbsp;16:00&nbsp;-&nbsp;16:30&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>

            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_17" headers="hor" class="conBorde">&nbsp;16:30&nbsp;-&nbsp;17:00&nbsp;</th>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_18" headers="hor" class="conBorde">&nbsp;17:00&nbsp;-&nbsp;17:30&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_19" headers="hor" class="conBorde">&nbsp;17:30&nbsp;-&nbsp;18:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_20" headers="hor" class="conBorde">&nbsp;18:00&nbsp;-&nbsp;18:30&nbsp;</th>


                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_21" headers="hor" class="conBorde">&nbsp;18:30&nbsp;-&nbsp;19:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_22" headers="hor" class="conBorde">&nbsp;19:00&nbsp;-&nbsp;19:30&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_23" headers="hor" class="conBorde">&nbsp;19:30&nbsp;-&nbsp;20:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_24" headers="hor" class="conBorde">&nbsp;20:00&nbsp;-&nbsp;20:30&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

            <tr class="fila" style="height: 2.5em;">
                <th id="hora_25" headers="hor" class="conBorde">&nbsp;20:30&nbsp;-&nbsp;21:00&nbsp;</th>

                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
                <td rowspan="1" class="conBorde">&nbsp;</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="container-fluid pt-5"></div>
<div class="container-fluid pt-5"></div>
{{>footer}}