<div class="container">
            <header class="row">
                <div class="col-lg12 text-center">
                    <img src="/img/mortarboard.png" class="animated bounceIn" alt="logo">

                </div>

            </header>
        </div>
        <!-- Section one-->
        <div class="container-fluid" id="" about>
            <div class="row bg-dark text-white p-5 text-center">

                <div class="col-sm-6">
                    <i class="fas fa-graduation-cap fa-10x"></i>
                </div>
                <div class="col-sm-6">
                    <h3>La mejor Academia</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt tempora veniam quo hic culpa
                        minima dicta molestias cupiditate in voluptatem autem id, delectus excepturi obcaecati
                        asperiores facilis! Harum, animi quae?</p>
                </div>

            </div>
        </div>
    {{>footer}}
