<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fas fa-graduation-cap"></i>E-Cademy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#compare user.id_rol '!=' 1}}

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/courses"><i class="fas fa-home"></i> Home</a>
        </li>
        {{/compare}}

        {{#compare user.id_rol '==' 1}}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/administration"><i class="fas fa-user"></i> Admin</a>
        </li>
        {{/compare}}
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>

      </ul>
      
      
      <li class="nav-item dropdown navbar navbar-expand-lg navbar-light bg-light me-5">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fas fa-user"></i> Perfil
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/profile.html"> <i class="fas fa-user"></i> Mi Perfil</a></li>
          
          <li><a class="dropdown-item" href="/profile">Mis Cursos</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/logout">Log Out</a></li>
        </ul>
      </li>


    </div>
  </div>
</nav>