<div class="container">
            <header class="row">
                <div class="col-lg10 text-center">
                    <img src="/img/mortarboard.png" class="animated bounceIn" alt="logo">

                </div>

            </header>
        </div>
        <div class="container">
            <div class="row">
                <div class="colum col-md-4 p-4">
                    <div class="card">
                        <div class="card-header  text-center">
                            <a class="nav-link" id="nav-link_admin" href="/administration/registerTime">Añadir
                                Horarios</a>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4 p-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <a class="nav-link" id="nav-link_admin" href="/administration/registerStudent">Nuevo Alumno</a>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4 p-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <a class="nav-link" id="nav-link_admin" href="/administration/registerTeacher">Dar de Alta Profesor</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="colum col-md-4 p-4">
                    
                    <br />
                    <div class="card">
                        <div class="card-header  text-center">
                            <a class="nav-link" id="nav-link_admin" href="/horario">Ver Horarios</a>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4 p-4">
                    <br />
                    <div class="card">
                        <div class="card-header  text-center">
                            <a class="nav-link" id="nav-link_admin" href="/administration/students">Ver Alumnos</a>
                        </div>
                    </div>
                </div>
                <div class="colum col-md-4 p-4">
                    
                    <br />
                    <div class="card">
                        <div class="card-header  text-center">
                            <a class="nav-link" id="nav-link_admin" href="/administration/teachers">Ver Profesores</a>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
        {{>footer_admin}}