<div class="login">
	<div class="card-header bg-dark text-white text-center">
		<h3>Nueva Asignatura</h3>
	</div>
	<div class="card-body">
		<form action="/administration/altacurso" method="post">
			<label for="Nombre">
				<!-- font awesome icon -->
				<i class="fas fa-book"></i>
			</label>
			<input type="text" name="Nombre" placeholder="Nombre de la asignatura" id="nombre" required>
			<label for="codigo">
				<i class="fas fa-hashtag"></i>
			</label>

			
			<input type="text" name="Codigo" placeholder="Codigo de la Asignatura" id="codigo" required>
			<select class="form-select" name="idProfesor" id="profesor">
				{{#each profesores}}
				<option value="{{idProfesor}}">{{Nombre}} {{Apellidos}}</option>
				{{/each}}
			</select>
			<input type="submit" value="Dar de Alta">
		</form>

	</div>
</div>

<br />