<div class="login">
			<div class="card-header bg-dark text-white text-center">
				<h3>Editar Datos de Usuario</h3>
			</div>
			<div class="card-body">
				<form action="/updateProfile/{{Usuario.idusers}}" method="post">
					<label for="username">
						<!-- font awesome icon -->
						<i class="fas fa-user"></i>
					</label>
					<input type="text" name="Username" placeholder="Nombre de Usuario Actual" id="username" required>
					<label for="NewUsername">
						<!-- font awesome icon -->
						<i class="fas fa-user"></i>
					</label>
					<input type="text" name="NewUsername" placeholder="Nuevo Nombre de Usuario" id="NewUsername">
					<label for="password">
						<i class="fas fa-lock"></i>
					</label>
					<input type="password" name="Password" placeholder="Contraseña Actual" id="password" required>
					<label for="NewPassword">
						<i class="fas fa-lock"></i>
					</label>
					<input type="password" name="NewPassword" placeholder="Nueva Contraseña" id="NewPassword">
					<input type="submit" value="Actualizar">
				</form>

			</div>
		</div>

		<br />
